NODE_ENV=""
EXPO_PUBLIC_GOOGLE_MAPS_APIKEY=""
EXPO_PUBLIC_REACT_NATIVE_SUPABASE_URL=""
EXPO_PUBLIC_REACT_NATIVE_SUPABASE_ANON_KEY=""
EXPO_PUBLIC_API_URL=""

EXPO_PUBLIC_MAPBOX_APIKEY=""
EXPO_TOKEN=""

EXPO_PUBLIC_GOOGLE_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_PROJECT_ID=""
EXPO_PUBLIC_GOOGLE_AUTH_URI=""
EXPO_PUBLIC_GOOGLE_TOKEN_URI=""
EXPO_PUBLIC_GOOGLE_AUTH_PROVIDER_X509_CERT_URL=""
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_REDIRECT_URI=""
EXPO_PUBLIC_GOOGLE_SCHEME=""
EXPO_PUBLIC_GOOGLE_SCOPES==""